<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325877749812-11thrfer63jnduhjaengt7rg1j995uf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325877749812-11thrfer63jnduhjaengt7rg1j995uf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDyclqZDU1hHaQg1-Dwd1opU3sfRQE-UCw</string>
	<key>GCM_SENDER_ID</key>
	<string>325877749812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.danny.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-fffb4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-fffb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325877749812:ios:c2b1c30f32faf08a351261</string>
</dict>
</plist>